* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: verdana;
}
.container {
    background-color: #222;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container .left {
    float: left;
    height: 100vh;
    background-color: #111;
    border-right: 1px solid #888;
}
.container .left #logo {
    width: 7.5em;
    height: 6em;
    margin: 0.75em;
    margin-left: 1.25em;
}
.container .left #title {
    color: ghostwhite;
    align-self: center;
    margin-left: 2em;
}
.container .left #description {
    color: ghostwhite;
    font-size: 10px;
    margin-left: 2.5em;
}

.container .left .menu {
    width: 100%;
    border-top: 1px solid #888;
    margin-top: 0.75em;
}
.container .left .menu ul li {
    list-style: none;
    width: 27.5vh;
    border-bottom: 1px solid #888;
    padding: 0.5em;
}
.container .left .menu ul li:hover {
    background-color: #222;
    transition: 0.5s background-color;
}
.container .left .menu ul li #link {
    text-decoration: none;
    color: ghostwhite;
    font-size: 15px;
    margin-left: 1em;
}
.container .left .menu ul li #link #menu-icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

.container .right {
    float: left;
    position: relative;
}
.container .right .page {
    margin: 0.75em;
    padding: 1em;
    border: 1px solid #888;
    border-radius: 0.5em;
    background-color: #111;
    width: 170vh;
}
.container .right .page h1 {
    color: ghostwhite;
    font-size: 30px;
    margin-bottom: 0.5em;
}
.container .right .page .dashboard-menu {
    display: block;
    margin-bottom: 1em;
}
.container .right .page .group {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background-color: #1b1b1b;
    width: 50vh;
    box-shadow: 3px 3px 3px #272626;
    display: inline-block;
    margin-right: 1.5em;
}
.container .right .page .group .header {
    border-bottom: 1px solid #888;
    padding: 0.5em;
    height: 11vh;
    display: block;
}
.container .right .page .group .header .group-icon {
    height: 2.5em;
    width: 2.5em;
    float: left;
    display: block;
    margin-right: 0.5em;
}
.container .right .page .group .header #title {
    color: green;
    margin-top: 0.5em;
}
.container .right .page .group .header #bingo {
    color: yellow;
    margin-top: 0.5em;
}
.container .right .group .coin {
    border-bottom: 1px solid #888;
    padding: 0.5em;
    height: 10vh;
}
.container .right .group .coin .coin-left {
    float: left;
    display: flexbox;
    margin-right: 0.5em;
}
.container .right .group .coin .coin-left #symbol {
    display: block;
    font-weight: bold;
    color: ghostwhite;
}
.container .right .group .coin .coin-left #binance {
    color: ghostwhite;
    font-size: 12px;
}
.container .right .group .coin .coin-right {
    float: right;
    display: flexbox;
    font-weight: bold;
    font-size: 12px;
}
.container .right .group .coin .coin-right#bullish {
    color: green;
}
.container .right .group .coin .coin-right#bearish {
    color: red;
}
.container .right .group .coin .coin-right#bingo {
    color: yellow;
}
.container .right .group .coin-right #price {
    display: block;
    margin-bottom: 1.25em;
}
.container .right .bottom {
    position: fixed;
    bottom: 0;
    left: 27.75vh;
    width: calc(100% - 27.75vh);
    background-color: #111;
    color: whitesmoke;
    padding: 0.75em;
    border-top: 1px solid #888;
    z-index: 999;
}
.container .right .bottom #news {
    display: block;
}